{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="flex items-baseline flex-row border dark:border-bgBody-400 border-bgBody-800 w-max rounded-sm">
            {% if first is defined and current != first %}
                <span class="px-3 py-2 text-lg border-r dark:border-bgBody-400 border-bgBody-800 font-bold">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </span>
            {% endif %}

            {% if previous is defined %}
                <span class="px-3 text-lg py-2 border-r dark:border-bgBody-400 border-bgBody-800">
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
            </span>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <span class="px-3 py-2 text-lg border-r dark:border-bgBody-400 border-bgBody-800">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
                {% else %}
                    <span class="bg-mainColor-400 px-3 py-2 text-lg font-bold border-r border-r-bgBody-800 dark:border-r-bgBody-400 text-TextColor-800 dark:text-TextColor-800">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <span class="px-3 py-2 text-lg border-r border-bgBody-800 dark:border-bgBody-400">
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
            </span>
            {% endif %}

            {% if last is defined and current != last %}
                <span class="px-3 py-2 text-lg border-bgBody-800 dark:border-bgBody-400 font-bold">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            </span>
            {% endif %}
        </div>
    </div>
{% endif %}