{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="overflow-x-auto relative shadow-md sm:rounded-lg my-5">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <tbody class="bg-white dark:bg-gray-800">
                <tr class="border-b dark:border-gray-700">
                    <th class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Id</th>
                    <td class="py-4 px-6">{{ category.id }}</td>
                </tr>
                <tr class="border-b dark:border-gray-700">
                    <th class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Name</th>
                    <td class="py-4 px-6">{{ category.name }}</td>
                </tr>
                <tr class="border-b dark:border-gray-700">
                    <th class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Description</th>
                    <td class="py-4 px-6">{{ category.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('front_app_category_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-white" style="background-color: #134F63; margin-right: 8px;" onmouseover="this.style.backgroundColor='#05C1FA'" onmouseout="this.style.backgroundColor='#134F63'">Back to list</a>

    <a href="{{ path('front_app_category_edit', {'id': category.id}) }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-white" style="background-color: #134F63;" onmouseover="this.style.backgroundColor='#05C1FA'" onmouseout="this.style.backgroundColor='#134F63'">Edit</a>

    {{ include('/front/category/_delete_form.html.twig') }}
{% endblock %}
