{% extends 'base.html.twig' %}

{% block title %}Edit Devis{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline text-center my-8" style="color: #000000;">Edit Devis</h1>

    <div class="mx-auto" style="max-width: 90%;">
        {{ include('/front/devis/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('front_app_devis_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-white" style="background-color: #134F63; transition: background-color 0.2s ease-in-out;" onmouseover="this.style.backgroundColor='#05C1FA'" onmouseout="this.style.backgroundColor='#134F63'">Back to List</a>
    </div>

    <div class="text-center mt-4">
        {{ include('/front/devis/_delete_form.html.twig') }}
    </div>

    <script>
        var products = {{ product|raw }};
        var productsDevis = {{ devisProduit|raw }};
        console.log(productsDevis);
    </script>
{% endblock %}
