{% extends 'base.html.twig' %}

{% block title %}Devis Index{% endblock %}

{% block body %}
    <div>
        <h1>Devis Index</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for devi in devis %}
                <tr>
                    <td>{{ devi.id }}</td>
                    <td>{{ devi.getClient().getNom() ~ " " ~ devi.getClient().getPrenom()}}</td>
                    <td>{{ devi.getTotalPrice() }}</td>
                    <td>
                        <a href="{{ path('front_app_devis_show', {'id': devi.id}) }}" class="btn btn-info">Show</a>
                        <a href="{{ path('front_app_devis_delete', {'id': devi.id}) }}" class="btn btn-danger">Delete</a>
                        {#  <a href="{{ path('front_app_devis_send', {'id': devi.id}) }}" class="btn btn-primary">Send</a>#}
                        <a href="{{ path('front_app_devis_edit', {'id': devi.id}) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ path('front_app_devis_transform_devis', {'id': devi.id}) }}" class="btn btn-warning">Devis to Facture</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <a href="{{ path('front_app_devis_new') }}" class="btn btn-success">Create New</a>
    </div>
{% endblock %}