<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{#        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">#}
        <script src="https://unpkg.com/alpinejs" defer></script>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/plombier.png" type="image/png">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
            .font-family-karla { font-family: karla; }
            .bg-sidebar { background: #134F63; }
            .cta-btn { color: #0091C2; }
            .upgrade-btn { background: #05C1FA; }
            .active-nav-link { background: #05C1FA; }
            .nav-item:hover { background: #05C1FA; }
            .account-link:hover { background: #05C1FA; }
        </style>
    </head>
        <body class="font-family-karla flex flex-row text-bgBody-800 dark:text-bgBody-400 bg-bgBody-400 dark:bg-bgBody-800">

        {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
                <a href="{{ path('front_default_index') }}" title="Go to front">
                    <img src="/plumbpaylogo-removebg-preview.png" class="w-40 h-40 absolute top-0 -mt-6 left-1/2 transform -translate-x-1/2" alt="logo Plumbpay">
                </a>
                <div class="pt-32 p-8 flex justify-center">
                    <a href="{{ path('back_app_index') }}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                </div>
                <nav class="text-white text-base font-semibold pt-3">
                    <a href="{{ path('back_app_index') }}" class="{% if app.request.attributes.get('_route') starts with 'back_app_index' %}active-nav-link{% else %}opacity-50{% endif %} flex items-center text-white py-4 pl-6 nav-item">
                        <i class="fas fa-tachometer-alt mr-3"></i>Dashboard
                    </a>
                    <a href="{{ path('back_app_contact') }}" class="{% if app.request.attributes.get('_route') starts with 'back_app_contact' %}active-nav-link{% else %}opacity-50{% endif %} flex items-center text-white  hover:opacity-100 py-4 pl-6 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>Contact
                    </a>
                    <a href="{{ path('back_app_user') }}" class="{% if app.request.attributes.get('_route') starts with 'back_app_user' %}active-nav-link{% else %}opacity-50{% endif %} flex items-center text-white hover:opacity-100 py-4 pl-6 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>User
                    </a>
                    <a href="{{ path('back_app_company') }}" class="{% if app.request.attributes.get('_route') starts with 'back_app_company' %}active-nav-link{% else %}opacity-50{% endif %} flex items-center text-white hover:opacity-100 py-4 pl-6 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>Company
                    </a>
                </nav>
            </aside>
        {% endif %}


        <div class="w-full flex flex-col h-screen overflow-y-hidden">
            <!-- Desktop Header -->
            <header class="w-full items-center py-2 px-6 hidden sm:flex bg-gray-100 dark:bg-gray-800">
                <div class="w-1/2"><h1 class="text-3xl font-bold text-TextColor-400 dark:text-TextColor-800">{{ block('title') }}</h1></div>
                <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
                    <button @click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                        <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
                    </button>
                    <button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
                    <div x-show="isOpen" class="absolute w-32 rounded-lg shadow-lg py-2 mt-16 bg-bgBody-400 dark:bg-bgBody-800">
                        <a href="{{ path('front_app_account') }}" class="block px-4 py-2 account-link hover:text-white">Account</a>
                        <a href="{{ path('app_logout') }}" class="block px-4 py-2 account-link hover:text-white">Logout</a>
                    </div>
                </div>
            </header>

            <!-- Mobile Header & Nav -->
            <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden bg-gray-100">
                <div class="flex items-center justify-between">
                    <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                        <i x-show="!isOpen" class="fas fa-bars"></i>
                        <i x-show="isOpen" class="fas fa-times"></i>
                    </button>
                </div>

                <!-- Navigation mobile, s'affiche lorsque isOpen est true -->
                <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
                    <a href="{{ path('front_default_index') }}" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                        <i class="fas fa-tachometer-alt mr-3"></i>
                        Front
                    </a>
                    <a href="{{ path('back_app_index') }}" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                        <i class="fas fa-tachometer-alt mr-3"></i>
                        Dashboard
                    </a>
                    <a href="{{ path('back_app_contact') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>
                        Contact
                    </a>
                    <a href="{{ path('back_app_user') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-table mr-3"></i>
                        User
                    </a>
                    <a href="{{ path('back_app_company') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-align-left mr-3"></i>
                        Company
                    </a>
                    <a href="{{ path('app_logout') }}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sign-out-alt mr-3"></i>
                        Logout
                    </a>
                </nav>
            </header>


            
            <div class="flex flex-col min-h-screen overflow-y-auto">
                <div class="flex-grow">
                    <main class="p-6">
                        {% block body %}

                        {% endblock %}
                    </main>
                </div>

                <footer class="w-full bg-white text-right p-4">
                
                </footer>
            </div>
                
            </div>
    </body>
</html>