<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome to Plumbpay{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="border-b border-b-slate-50">
            <div class="lg:max-w-10xl mx-auto w-full p-4">
                {% block header %}
                    <nav class="flex flex-col lg:flex-row gap-4">
                        <ul class="flex flex-col lg:w-10/12 lg:flex-row gap-4">
                            <li>
                                <a href="{{ path('front_default_index') }}">Home</a>
                            </li>
                        </ul>
                        <ul class="flex flex-col lg:w-2/12 lg:flex-row gap-4 lg:justify-end">
                            <li>
                                <a href="{{ path('front_app_account') }}">Account</a>
                            </li>
                            {% if app.user %}
                                <li>
                                    <a href="{{ path('app_logout') }}">Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endblock %}
            </div>
        </header>
        <main class="flex flex-col gap-8 grow p-4 lg:max-w-10xl mx-auto w-full">
            <div class="flashs">
                {% for type, flashMessages in app.flashes %}
                    {% for message in flashMessages %}
                        <div class="flash" data-flash="{{ type }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </main>
        <footer class="border-t border-t-slate-50">
            <div class="p-4 lg:max-w-10xl mx-auto w-full">
                <section>
                    {% block footer %}
                        footer du site
                    {% endblock %}
                </section>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('build/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
