<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome to Plumbpay{% endblock %}</title>
        <link rel="icon" href="/plombier.png" type="image/png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="top-0 fixed z-10 w-full bg-bgBody-400 dark:bg-bgBody-800 text-TextColor-400 dark:text-TextColor-800">
            {% if app.user %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <aside class="border-b border-b-TextColor-400 dark:border-b-TextColor-800">
                        <div class="lg:max-w-10xl mx-auto w-full py-2 px-4">
                            <nav class="flex flex-col lg:flex-row gap-4">
                                <ul class="flex flex-col lg:w-8/12 lg:flex-row gap-8">
                                </ul>
                                <ul class="flex flex-col lg:w-4/12 lg:flex-row gap-8 lg:justify-end">
                                    <li>
                                        <a href="{{ path('back_app_index') }}" class="border-b border-b-transparent hover:border-b-TextColor-400 focus:border-b-TextColor-400 dark:hover:border-b-TextColor-800 dark:focus:border-b-TextColor-800">Administration</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </aside>
                {% endif %}
            {% endif %}
            <div class="lg:max-w-10xl mx-auto w-full p-4">
                {% block header %}
                    <nav class="flex flex-col lg:flex-row gap-4">
                        <ul class="flex flex-col lg:w-8/12 lg:flex-row gap-4 items-center">
                            <li>
                                <a href="{{ path('front_default_index') }}">
                                    <img src="{{ asset('plumbpaylogo-removebg-preview.png') }}" alt="logo plumbpay" class="w-14 h-14">
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('front_app_contact') }}" class="border-b border-b-transparent hover:border-b-TextColor-400 focus:border-b-TextColor-400 dark:hover:border-b-TextColor-800 dark:focus:border-b-TextColor-800">Contact Us</a>
                            </li>
                        </ul>
                        <ul class="flex flex-col lg:w-4/12 lg:flex-row gap-4 lg:justify-end items-center">
                            {% if not app.user %}
                            <li>
                                <a href="{{ path('app_login') }}" class="text-TextColor-800 flex flex-row gap-4 items-center px-6 py-3 rounded-full bg-secondaryColor-400 hover:bg-mainColor-400 focus:bg-mainColor-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                        <path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
                                    </svg>
                                    <span>Login</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}" class="bg-mainColor-400 hover:bg-secondaryColor-400 focus:bg-secondaryColor-400 px-6 py-4 rounded-full text-TextColor-800">Get Started</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ path('front_app_account') }}">Account</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endblock %}
            </div>
        </header>
        <main class="sticky flex flex-col grow mx-auto w-full">
            {% for type, flashMessages in app.flashes %}
                <section class="flashs">
                    {% for message in flashMessages %}
                        <div class="flash" data-flash="{{ type }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </section>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
    {% block footer %}
        <footer>
            <div class="px-4 py-8 lg:max-w-10xl mx-auto w-full flex flex-col gap-8">
                <section>
                    <nav class="flex flex-col lg:flex-row gap-4">
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="{{ path('front_design_index') }}" class="border-b border-b-transparent hover:border-b-TextColor-400 focus:border-b-TextColor-400 dark:hover:border-b-TextColor-800 dark:focus:border-b-TextColor-800">Design</a>
                            </li>
                        </ul>
                    </nav>
                </section>
                <hr class="w-3/4 mx-auto">
                <section>
                    <nav class="flex flex-col lg:flex-row gap-4">
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="{{ path('front_legals_index') }}" class="border-b border-b-transparent hover:border-b-TextColor-400 focus:border-b-TextColor-400 dark:hover:border-b-TextColor-800 dark:focus:border-b-TextColor-800">Legals</a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
        </footer>
    {% endblock %}
    {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
