<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}PlumbPay - Gestion de factures et paiements pour les entreprises de plomberie{% endblock %}</title>
        <link rel="icon" href="/plombier.png" type="image/png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col relative" x-data="{ mobileMenuOpen: false }" :class="{ 'overflow-hidden': mobileMenuOpen }">
        {% include '_composants/_default_header.html.twig' %}
        <main class="flex flex-col grow mx-auto w-full">
            {% for type, flashMessages in app.flashes %}
                <section class="flashs">
                    {% for message in flashMessages %}
                        <div class="flash" data-flash="{{ type }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </section>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        {% include '_composants/_default_footer.html.twig' %}
    </body>
</html>
