{% extends 'base.html.twig' %}

{% block title %}Facture {{ facture.id }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Facture {{ facture.id }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ facture.id }}</td>
                </tr>
                <tr>
                    <th>Devis</th>
                   
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ facture.date ? facture.date|date('Y-m-d H:i:s') : 'N/A' }}</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>{{ facture.amount is not null ? facture.amount : 'N/A' }}</td>
                </tr>
                <tr>
                    <th>Paid</th>
                    <td>{{ facture.paid ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_facture_index') }}" class="btn btn-secondary">Back to List</a>

        <a href="{{ path('app_facture_edit', {'id': facture.id}) }}" class="btn btn-primary">Edit</a>

        {{ include('facture/_delete_form.html.twig') }}
    </div>
{% endblock %}