{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <div>
        <h1>Facture Index</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>N° Facture</th>
                        <th>N° Devis</th>
                        {#  <th>Client</th> #}
                        <th>Prix totale</th>
                        <th>Payé ?</th>
                        <th>Montant déjà payé</th>
                        <th>Date d'emission de la facture</th>
                        <th>Date d'echeance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for facture in factures %}
                    <tr>
                        <td>{{ facture.numFacture }}</td>
                        <td>{{ facture.numDevis }}</td>
                        {# <td>{{ facture.getClient().getNom() ~ " " ~ factures.getClient().getPrenom() }}</td>  #}
                        <td>{{ facture.prixTotal }}</td>
                        <td>{{ facture.paid }}</td>
                        <td>{{ facture.prixPaye }}</td>
                        <td>{{ facture.dateFacture|date("Y-m-d") }}</td>
                        <td>{{ facture.dateEcheance|date("Y-m-d") }}</td>
                        <td>
                            <a href="{{ path('front_app_facture_show', {'id': facture.id}) }}" class="btn btn-info">Show</a>
                            <a href="{{ path('front_app_facture_paid', {'id': facture.id}) }}" class="btn btn-warning">Paid with Stripe</a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('front_app_facture_new') }}" class="btn btn-success">Create New</a>
    </div>

{% endblock %}