<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture {{ facture.numFacture }}</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header, footer {
            background-color: #134F63; 
            color: white;
            padding: 10px 20px;
            text-align: center;
        }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 12px;
        }
        .text-center {
            text-align: center;
        }
        .text-right {
            text-align: right;
        }
        .text-left {
            text-align: left;
        }
        .my-8 {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .mx-auto, .table-auto {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
        .w-full {
            width: 100%;
        }
        .mt-4 {
            margin-top: 16px;
        }
        .bg-gray-100 {
            background-color: #f7f7f7;
        }
        .border, th, td {
            border: 1px solid #cccccc;
            padding: 8px;
        }
        th, td {
            text-align: left;
        }
        .font-bold {
            font-weight: bold;
        }
        .text-2xl {
            font-size: 1.5rem;
        }
        .text-1xl {
            font-size: 1.25rem;
        }
        .underline {
            text-decoration: underline;
        }
        .container {
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
        }


    </style>
</head>
<body>
    <header>
        <h1>Facture N°{{ facture.numFacture }}</h1>
    </header>
    <div class="text-center my-8">
        <h3>Date : {{ facture.createdAt|date('d/m/Y') }}</h3>
        <p>Remarques : {{ facture.messages | default('Pas de remarques') }}</p>
    </div>
    <div class="container mx-auto">
        <div class="text-right">
            <h1 class="text-2xl font-bold underline" style="color: #000000;">Entreprise</h1>
            {# <p>{{ facture.entreprise.getNom() }}</p>
                <p>{{ facture.entreprise.getFullAddress() }}</p>
                <p>{{ facture.entreprise.getEmail() }} </p>
                <p>{{ facture.entreprise.getNumeroTelephone() }}</p>  #}
        </div>
        <div class="text-left">
            <h1 class="text-2xl font-bold underline" style="color: #000000;">Client</h1>
            <p>{{ client.getNom() }} {{ client.getPrenom() }}</p>
            <p>{{ client.getFullAddress() }}</p>
            <p>{{ client.getEmail() }} </p>
            <p>{{ client.getNumeroTelephone() }}</p>
        </div>
        <div class="mx-auto mt-4" style="max-width: 90%;">
            {% for categorie, produits in categoriProduits %}
                <div class="mt-4">
                    <h2 class="text-2xl font-bold" style="color: #000000;">{{ categorie }}</h2>
                    <table class="table-auto w-full mt-4">
                        <thead>
                        <tr class="bg-gray-100">
                            <th class="px-4 py-2">Produit</th>
                            <th class="px-4 py-2">Description</th>
                            <th class="px-4 py-2">Prix unitaire</th>
                            <th class="px-4 py-2">TVA</th>
                            <th class="px-4 py-2">Quantité</th>
                            <th class="px-4 py-2">Prix totale</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td class="border px-4 py-2">{{ produit.name }}</td>
                                <td class="border px-4 py-2">{{ produit.description }}</td>
                                <td class="border px-4 py-2">{{ produit.price | number_format(2, ',', ' ') }} €</td>
                                <td class="border px-4 py-2">{{ produit.tva | number_format(1, ',', ' ') }} %</td>
                                <td class="border px-4 py-2">{{ produit.quantite }}</td>
                                <td class="border px-4 py-2">{{ produit.prix_totale | number_format(2, ',', ' ') }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        <div class="text-right mt-4">
            <h2 class="text-1xl" style="color: #000000;">Total HT : {{ total.ht | number_format(2, ',', ' ')}} €</h2>
            {% for taux_tva, total_tva in total.tva %}
                <h2 class="text-1xl" style="color: #000000;">TVA {{ taux_tva | number_format(1, ',', ' ')}}% : {{ total_tva | number_format(2, ',', ' ')}} €</h2>
            {% endfor %}
            <h2 class="text-2xl font-bold" style="color: #000000;">Total TTC : {{ total.ttc | number_format(2, ',', ' ')}} €</h2>
        </div>
    </div>
    <footer>
        <div>© {{ "now"|date("Y") }} Plumbpay - Tous droits réservés</div>
    </footer>
</body>
</html>
