{% extends 'base.html.twig' %}

{% block title %}Facture {{ facture.numFacture }}{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Facture {{ facture.numFacture }}</h1>
        <p>Créée le {{ facture.dateFacture|date('d/m/Y') }}</p>
        <p>Échéance le {{ facture.dateEcheance|date('d/m/Y') }}</p>
        <div class="row">
           {# <div class="col-6">
                <h2>Entreprise</h2>
                <p>{{ facture.entreprise.Nom }}</p>
                <p>{{ facture.entreprise.Adresse }}</p>
                <p>{{ facture.entreprise.CodePostal ~ ' ' ~ facture.entreprise.Ville }}</p>
                <p>{{ facture.entreprise.Telephone }}</p>
                <p>{{ facture.entreprise.Email }}</p>
            </div> #}
            <div class="col-6">
                <h2>Client</h2>
                <p>{{ facture.client.Nom ~ ' ' ~ facture.client.Prenom }}</p>
            </div>
            <div class="col-6">
                <h2>Produits</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix unitaire</th>
                            <th>Quantité</th>
                            <th>TVA</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in facture.produits %}
                            <tr>
                                <td>{{ produit.name }}</td>
                                <td>{{ produit.description }} </td>
                                <td>{{ produit.price }} €</td>
                                <td>{{ produit.quantite }}</td>
                                <td>{{ produit.tva }}</td>
                                <td>{{ produit.prix_totale }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h2>Montant total</h2>
                <p>{{ facture.prixTotal }} €</p>
                {# p>{{ facture.statue }} € TTC</p> #}
        </div>
    </div>
    <a href="{{ path('front_app_facture_index') }}">back to list</a>
{% endblock %}