<div class="overflow-x-auto relative shadow-md sm:rounded-lg mx-auto w-full">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">Category</th>
                <th scope="col" class="py-3 px-6">Total</th>
                <th scope="col" class="py-3 px-6">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6">Customer</td>
                <td class="py-4 px-6">{{ summary.customer.total }}</td>
                <td class="py-4 px-6">-</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6">Category</td>
                <td class="py-4 px-6">{{ summary.category.total }}</td>
                <td class="py-4 px-6">-</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6">Product</td>
                <td class="py-4 px-6">{{ summary.product.total }}</td>
                <td class="py-4 px-6">-</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6">Quotations</td>
                <td class="py-4 px-6">{{ summary.quotations.total }}</td>
                <td class="py-4 px-6">{{ summary.quotations.total_price }} €</td>
            </tr>
        </tbody>
    </table>
</div>