
    <div id="chart-container"></div> 

    <script src="https://code.highcharts.com/highcharts.js"></script>
    

     <script>

           //Premier Graph
            document.addEventListener('DOMContentLoaded', function () {
                // Utiliser les données récupérées pour configurer le graphique
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Nombre d\'utilisateurs, d\'entreprises et de contacts'
                    },
                    xAxis: {
                        categories: [
                            'Utilisateurs',
                            'Entreprises',
                            'Contacts'
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Nombre'
                        }
                    },
                    series: [{
                        name: 'Nombre',
                        data: [
                            {{ cards.general[1].nb }},
                            {{ cards.general[2].nb }},
                            {{ cards.general[3].nb }}
                        ]
                    }]
                });
            });

            //Deuxieme graph

            document.addEventListener('DOMContentLoaded', function () {
            // Utiliser les données récupérées pour configurer le graphique
            Highcharts.chart('container-pie', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Répartition du nombre de produits, catégories, devis et factures'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                series: [{
                    name: 'Nombre',
                    colorByPoint: true,
                    data: [{
                        name: 'Produits',
                        y: {{ cards.product[1].nb }}
                    }, {
                        name: 'Catégories',
                        y: {{ cards.product[2].nb }}
                    }, {
                        name: 'Devis',
                        y: {{ cards.pdf[1].nb }}
                    }, {
                        name: 'Factures',
                        y: {{ cards.pdf[2].nb }}
                    }]
                }]
            });
        });
    </script>